#first-column {
  position: relative;
  width: 33%;
}

#bg-copyright {
  display: flex;
  font-size: 20px;
  position: fixed;
  bottom: var(--bottom-space);
  text-shadow: var(--text-shadow);
}

#bg-copyright i {
  margin-right: 5px;
}
