#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: wheat;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  text-shadow: var(--text-shadow);
}

@media screen and (min-width: 1000px) {
  #no-mobile {
    display: none;
  }
}
